<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS Import -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- BootStrap5 Import -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- jQuery Import -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <title>Dracurrer</title>
    <script>
      $(document).ready(function () {
        let drama_lists = {{ drama_lists|tojson }};
        console.log(drama_lists);
      });
    </script>
  </head>
  <body>
    <div class="wrap">
      <header class="nav-bar">
        <div class="nav-bar__logo">Logo</div>
        <div class="nav-bar__title">DRACURRER</div>
        <div class="nav-bar__btns">
          <span>XX님 어서오세요</span>
          <button onClick="location.href='/register'">Create</button>
          <button onClick="location.href='#'">Logout</button>
        </div>
      </header>
      <main>
        {% for list in drama_lists %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col mycards">
            <div class="card h-100">
              <img
                src="{{ list.drama_image }}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#">{{ list.drama_title }}</a>
                </h5>
                <p class="card-text">{{ list.drama_desc }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </main>

      <footer></footer>
    </div>
  </body>
</html>
